.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 50s linear;
    height: 180px;
    margin-bottom: -10px;
}

.App-header {
    background-color: #222;
    padding: 18px;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.RoundedRectangle{
    background:hsla(200, 80%, 50%, 0.9);
    border-radius: 4px;
    color:white;
}